{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="menu">
        <a class="menu-item" href="{% url 'index_url' %}">На главную</a>
        <a class="menu-item" href="{% url 'providers_url' %}">Поставщики</a>
        <a class="menu-item" href="{% url 'flowers_url' %}">Цветы</a>
        <a class="menu-item" href="{% url 'customers_url' %}">Заказчики</a>
        <a class="menu-item" href="{% url 'contracts_url' %}">Договоры</a>
        <a class="menu-item" href="{% url 'orders_url' %}">Заказы</a>
        <a class="menu-item" href="{% url 'employees_url' %}">Сотрудники</a>
        <a class="menu-item" href="{% url 'customers_users_url' %}">Заказчики(пользователи)</a>
        <a class="menu-item" href="{% url 'login_url' %}">Войти</a>
        <a class="menu-item" href="{% url 'register_employee_url' %}">Зарегистрировать сотрудника</a>
        <a class="menu-item" href="{% url 'register_customer_url' %}">Зарегистировать заказчика</a>
        <a class="menu-item" href="{% url 'exit_url' %}">Выйти</a>
    </nav>

    <div class="content">
        {% block content %}
            No content :(
        {% endblock %}
        <form action="{% url 'commit_url' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Commit">
            <input type="hidden" name="curr_path" value="{{ request.path }}">
        </form>
        <form action="{% url 'rollback_url' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Rollback">
            <input type="hidden" name="curr_path" value="{{ request.path }}">
        </form>
    </div>
</body>
</html>