{% extends 'base.html' %}
{% load static %}


{% block title %}
Заказчики
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'my_app/table.css' %}">
{% endblock %}


{% block content %}
<h1>Заказчики</h1>
<form action="{% url 'create_customer_url' %}">
    <input type="submit" value="Создать">
</form>
<table>
    <thead>
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Телефон</th>
            <th>Адрес</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in objects %}
        <tr>
            {% for field in obj %}
            <td>{{ field }}</td>
            {% endfor %}
            <td>
                <form action="{% url 'customers_url' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                    <input type="hidden" name="customer_id" value="{{obj.customer_id}}">
                    <input type="hidden" name="phone" value="{{obj.phone}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}